.footer {
    background-color: $footer-bg;

    &-content {
        padding: 35px 35px 10px;
    }

    &-item {
        padding-left: 16px;
        margin-bottom: 26px;
        border-left: 2px solid $primary;
    }

    &-copyright {
        background-color: $footer-copyright-bg;
        padding: .75em 0;
    }
}