.bootstrap-select {
    .dropdown {
        &-toggle {
            border-radius: 0;
            // padding: 9px 12px;

            &::after {
                border-top-color: black;
            }
        }

        &-menu {
            border-radius: 0;
            color: black;
        }

        &-item {
            &:hover {
                color: $primary;
            }
        }
    }
}