// Theme colors
$primary:#B88B47;

// Body
$body-color: #F6F7F0;
$body-bg: #000000;

// Header
$header-offcanvas-bg: #000000;

// Footer
$footer-bg: #222222;
$footer-copyright-bg: #000000;

// Font
$font-family-base:'thaisans_neuelight';
$font-size-base: 1.25rem;