@import './fonts';
@import './variables';
@import './bootstrap/bootstrap.scss';
@import './header';
@import './footer';
@import './landing';
@import './card';
@import './button';
@import './text';
@import './selectpicker';
@import './pagination';
@import './section';

html,
body {
    position: relative;
    overflow-x: hidden;
}

main {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}